<h1> Contact Us </h1>
<img src = "http://cdn.sheknows.com/articles/2013/04/Puppy_2.jpg", class="img-circle">
<div class = "jumbotron">
<p> Phone: +45 30 98 95 69 </p>
<p> Email: poolguardian@aol.com </p>
<p> Myspace: Super Kilelr Awesome dudes </p>
</div>