<div class = "jumbotron">
<h1>Our home page</h1>
<p> I need to <%= link_to "poop", "http://willvideoforfood.com/wp-content/uploads/2012/12/poop.png", class: "btn btn-primary" %> now </p>
<p> (that's a <s> nasty</s> <button type="button" class="btn btn-danger"><u>scary</u></button> poop) </p>
</div>
